@model TextFile[]

<h2><u>@ViewData["Title"]</u></h2>

<ul>
@foreach( var item in @Model) {
    
    <li><a asp-controller="Files"
    asp-action="Content"
    asp-route-id="@item.name">@item.file</a></li>
}
</ul>